<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bulmeg_admintools>
            <phone_search>
                <enabled>1</enabled>
                <keyword_search>1</keyword_search>
                <country_code>359</country_code>
            </phone_search>
            <status_color>
                <enabled>1</enabled>
                <colors>{"_pending":{"status":"pending","color":"white"},"_pending_payment":{"status":"pending_payment","color":"yellow"},"_payment_review":{"status":"payment_review","color":"yellow"},"_processing":{"status":"processing","color":"blue"},"_holded":{"status":"holded","color":"orange"},"_complete":{"status":"complete","color":"green"},"_closed":{"status":"closed","color":"gray"},"_canceled":{"status":"canceled","color":"red"},"_fraud":{"status":"fraud","color":"purple"}}</colors>
            </status_color>
            <customer_history>
                <enabled>1</enabled>
                <match_customer>1</match_customer>
                <match_email>1</match_email>
                <match_phone>1</match_phone>
                <reliable_statuses>processing,complete</reliable_statuses>
                <neutral_statuses>pending</neutral_statuses>
                <regular_min_orders>1</regular_min_orders>
                <limit>20</limit>
                <ignored_values/>
            </customer_history>
        </bulmeg_admintools>
    </default>
</config>
